.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.btn {
  transition: background-color 0.5s ease-in-out;
}
.data {
  background-color: green;
  
}

.data:hover {
  background-color: #77f377;
}

.error {
  margin: 0 15px;
  background-color: red;
}

.error:hover {
  background-color: #bd0404;
}

.loading {
  background-color: yellow;
}

.loading:hover {
  background-color: #f1f100;
}